/.idea/
/.vscode/
/.venv/
/frontend/python_debug_sessions/
/ideas/g
src/__pycache__/
src/responses.html/
/frontend/theory/reviews.html/
/backend/app/model_ckpt/
/backend/model/model_100snippets/
/backend/model/model_150snippets/
/backend/app/static/
/.DS_Store/
/backend/helpers/replace_log.json/
/backend/app/usage_stats.jsonl